<footer id="rh">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
              <a href="https://.new.so/" target="_blank">
                <img src="<%= File.join(images_path, 'boxer_favicon.svg') %>" class="img-fluid" alt="Boxer essay" style="height: 16px; margin-right:10px">
              </a>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</footer>

<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->